<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>mypackage.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>statusupdate</servlet-name>
        <servlet-class>mypackage.statusupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BasicDetailsUpdate</servlet-name>
        <servlet-class>mypackage.BasicDetailsUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonalDetailsUpdate</servlet-name>
        <servlet-class>mypackage.PersonalDetailsUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>mypackage.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FriendsSearch</servlet-name>
        <servlet-class>mypackage.FriendsSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addfriend</servlet-name>
        <servlet-class>mypackage.Addfriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cancelrequest</servlet-name>
        <servlet-class>mypackage.Cancelrequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Acceptrequest</servlet-name>
        <servlet-class>mypackage.Acceptrequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Unfriend</servlet-name>
        <servlet-class>mypackage.Unfriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deleterequest</servlet-name>
        <servlet-class>mypackage.Deleterequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Postcomment</servlet-name>
        <servlet-class>mypackage.Postcomment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Like</servlet-name>
        <servlet-class>mypackage.Like</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Unlike</servlet-name>
        <servlet-class>mypackage.Unlike</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>statusupdate</servlet-name>
        <url-pattern>/statusupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BasicDetailsUpdate</servlet-name>
        <url-pattern>/BasicDetailsUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonalDetailsUpdate</servlet-name>
        <url-pattern>/PersonalDetailsUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FriendsSearch</servlet-name>
        <url-pattern>/FriendsSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addfriend</servlet-name>
        <url-pattern>/Addfriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cancelrequest</servlet-name>
        <url-pattern>/Cancelrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Acceptrequest</servlet-name>
        <url-pattern>/Acceptrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Unfriend</servlet-name>
        <url-pattern>/Unfriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deleterequest</servlet-name>
        <url-pattern>/Deleterequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Postcomment</servlet-name>
        <url-pattern>/Postcomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Like</servlet-name>
        <url-pattern>/Like</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Unlike</servlet-name>
        <url-pattern>/Unlike</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
